{% extends "base.html" %} {% block content %}
<style>
.scrollable {
	max-height: 200px;
	overflow-y: scroll;
	margin-bottom: 1rem;

}
</style>


<nav class="bg-gray padding flex gap align-items-center">
  <a href="/">/</a>
  <a href="/scenarios">Scenarios</a>
  <a href="/scenarios/{{name}}">{{title}}</a>
  <a href="/scenarios/{{name}}/procedures">Procedures</a>
  <b>{{index}}</b>
</nav>

<main class="padding">
	<b>Tactic</b>
	<section class="scrollable">
	  <form class="flex column gap bg-blue">
		  <button>{{selected_tactic}}</button>
	  </form>
	  {% for tactic in tactics %}
		  <form class="flex column gap hover-bg-light-gray">
			  <button>{{tactic}}</button>
		  </form>
	  {% endfor %}
	</section>

	<b>Technique</b>
	<section class="scrollable">
	  <form class="flex column gap bg-blue">
		  <button>{{selected_technique}}</button>
	  </form>
	  {% for technique in techniques %}
		  <form class="flex column gap hover-bg-light-gray">
			  <button>{{technique}}</button>
		  </form>
	  {% endfor %}
	</section>

  <form class="flex column gap">
    <fieldset class="flex column bg-gray gap padding no-border">
      <section class="flex column">
        <label for="label">Label</label>
        <input name="label" value="{{procedure.label}}" />
      </section>
    </fieldset>

    <fieldset class="flex column bg-gray gap padding no-border">
      <b>Preconditions</b>
      {% for name, value in procedure.preconditions.items() %}
      <section class="flex column">
        <label for="{{name}}">{{name}}</label>
        <input name="{{name}}" value="{{value}}" />
      </section>
      {% endfor %}
    </fieldset>

    {% if procedure.tune %}
    <fieldset class="flex column bg-gray gap padding no-border">
      <b>Tune</b>
      {% for name, value in procedure.tune.items() %}
      <section class="flex column">
        <label for="{{name}}">{{name}}</label>
        {% if name == "command" %}
        <textarea name="{{name}}">{{value}}</textarea>
        {% else %}
        <input name="{{name}}" value="{{value}}" />
        {% endif %}
      </section>
      {% endfor %}
    </fieldset>
    {% endif %}
    <button class="bg-gray hover-bg-light-gray no-border pointer">Save</button>
  </form>
</main>
{% endblock %}
