<html>

<head>
	<title>{{scenario.meta_data.title}}</title>

	<style>
		body {
			font-family: sans-serif;
		}

		fieldset {
			display: grid;
			grid-template-columns: 100px 1fr;
			grid-column: 1 / span 2;
		}

		section {
			grid-column: 1 / span 2;
			justify-self: end;
			margin-top: 1em;
		}
	</style>
</head>

<body>
	<h1><a href="/">Scenario Designer</a> / <a href="/scenarios">Scenarios</a> / {{scenario.meta_data.title}}</h1>

	<form>
		<fieldset>
			<legend>MetaData</legend>
			<label for="name">Name</label>
			<input name="name" value="{{scenario.meta_data.name}}" />
			<label for="version">Version</label>
			<input name="version" value="{{scenario.meta_data.version}}" />
			<label for="title">Title</label>
			<input name="title" value="{{scenario.meta_data.title}}" />
			<label for="description">Description</label>
			<textarea name="description">{{scenario.meta_data.description}}</textarea>
			<label for="author">Author</label>
			<input name="author" value="{{scenario.meta_data.author}}" />
			<label for="suggested_duration">Duration</label>
			<input type="number" name="suggested_duration" value="{{scenario.meta_data.suggested_duration}}" />
			<section>
				<button>Save</button>
				<button>Run</button>
			</section>
		</fieldset>
	</form>

	<h2>Procedures</h2>
	<ol>
		{% for procedure in scenario.procedures %}
		<li>
			<form>
				<fieldset>
					<legend>Procedure</legend>
					<label for="tactic">Tactic</label>
					<select name="tactic">
						<option>{{procedure.tactic}}</option>
					</select>
					<label for="technique">Technique</label>
					<select name="technique">
						<option>{{procedure.technique}}</option>
					</select>
					<label for="label">Label</label>
					<input name="label" value="{{procedure.label}}" />
					<fieldset>
						<legend>Preconditions</legend>
						{% for p_key, p_value in procedure.preconditions.items() %}
						{% if p_key == "tune" %}
						<fieldset>
							<legend>Tune</legend>
							{% for t_key, t_value in p_value.items() %}
							<label for="{{t_key}}">{{t_key}}</label>
							<input name="{{t_key}}" value="{{t_value}}" />
							{% endfor %}
						</fieldset>
						{% else %}
						<label for="{{p_key}}">{{p_key}}</label>
						<input name="{{p_key}}" value="{{p_value}}" />
						{% endif %}
						{% endfor %}
					</fieldset>
					<section>
						<button>Save</button>
						<button>Run</button>
					</section>
				</fieldset>
			</form>
		</li>
		{% endfor %}
		</li>
	</ol>
</body>

</html>
