*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --white: #fff;
  --gray: #333;
  --light-gray: #ccc;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--white);
  }
}

.bg-gray {
  background-color: var(--gray);
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0.2rem;
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.padding {
  padding: 1rem;
}

.margin {
  margin: 1rem;
}

.no-border {
  border: none;
}
